@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Poppins:ital,wght@1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    
    background-color: black;
    align-items: center;
    color: white;
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.navdiv{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

#navh1{
    font-size: 70px;
    background:-webkit-image-set("https://pbs.twimg.com/media/DaglpvdU8AAf9L4?format=jpg&name=small");
    -webkit-background-clip: text;
    background-position-y: -200px;
    -webkit-text-fill-color: transparent;
}

section{
    background: url(./amit);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sectionh1{
    font-size: 50px;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Poppins', sans-serif;
    background: -webkit-image-set("https://res.cloudinary.com/practicaldev/image/fetch/s--JGQsAOiw--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/kvrmpq0851t8awwkko3p.gif");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#s2bar{
    height: 300px;
    width: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-align: justify;
    justify-content: space-around;
    align-items: center;
}

#sectionh2{
    font-size: 40px;
    background: -webkit-image-set("https://i.gifer.com/XSHj.gif");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sectioncno{
    color: aqua;
    border: solid 1px red;
    padding: 10px;
}

#s2d2{
    font-size: 17px;
    text-align: left;
}

#s3bar{
    width: 100%;
    border: solid 2px black;
    display: flex;
    background-color: #3D3D3D;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    justify-content: space-around;
}

#s3d1{
    text-align: center;
    color: white;
    padding: 10px;

}

#s3d2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20px;
}

.s3d{
    border: 1px solid black;
    color: white;
    background-color: gray;
    padding: 1px;
    justify-content: space-around;
    height: 10vh;
    width: 45vh;
    text-align: center;
}

#s3d3{
    color: grey;
}

.fd{
    align-items: center;
    justify-content: space-between;
    
}

.text{
    color: white;
    justify-content: space-around;
}

footer{
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.fbutton{
    border-radius: 10px;
    padding: 10px;
    background: grey;
    color: white;

}

#fdbutton{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}